/* 
.overlay{
    position:relative;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: 9999;
    
    
      }
      iframe {
       width: 50%;
       height: 500px;
       position: relative;
       right: 25%;
       top: 100px;
    
    }

    h1{
        position:relative;
        bottom:30rem;
        left:50rem;
    } */

    #one{
        display: block;
        width: 150px;
        margin: 0 auto;
    }

    #two{
        display: block;
        width: 150px;
        margin: 0 auto;
    }

    .box{
        margin:0%;
        position:relative ;
        top: 40px;
        left: 30%;

        padding:100px;
        width: 25%;
        height: 100px;
        background: linear-gradient(180deg, #7E92C5 0%, rgba(152, 181, 255, 0.00) 100%);
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
        /* box-shadow: 1px 4px 3px 6px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 10px rgba(0, 0, 0, 0.25); */
    }
    


    body {
        background-image: url("https://s3-alpha-sig.figma.com/img/63a6/4a64/c2581559b5ece9eac73b020373151d77?Expires=1697414400&Signature=CWEwKliQEGfvt5juwVK3DOFWO6g6qTzAHzlV3PJlzU0rTi0DMzAo0GW-EggYGHqq8F0EsCJeYpSIJWP73-qX1ZuiMpt~btt8E2CtHiNgvWGNX4PuONr2rx4PHC6sPVAAQVvLDj8ZMsPM2yhvbZI2JcCD72sQhAvUtzM4KH8NUij-2RLtdkjyoW1TqVi~3~aBV-exw2UHdxOtM3hzS3Ye6USfhbzzn17wJF1d0Bg-lFCGcw0naUI037Pz-c-BLok39C9JXdYqX~4555kl3n5~eBZhkxA8s3ZnDXIEaNtkY4R45hITKnpf-aLfLpPQ-pDxCWQkpTkPXwhQ5hU9SKbHLw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1{ /* TODO: Fix the centering */
position: relative;
left: 28%;
width: 50%;
color: #CE7FE1;
text-align: center;
font-size: 40px;
text-shadow: -1px 10px 10px #c396ff;
font-family: Londrina Sketch;
font-style: normal;
font-weight: 400;
line-height: normal;
    }

.bubbles{
        position: relative;
        right: 100px;
}